@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


header {
    margin: 0 auto;
    width: 70%;
    height: 300px;
}

body {
    margin: 0;
    background-color: yellow;
}

h2 {
    position: relative;
    top: 35px;
    left: 35px;
    font-family: 'Source Sans Pro', sans-serif;
}

h3 {
    position: relative;
    top: 35px;
    left: 60px;
    font-family: 'Source Sans Pro', sans-serif;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

ul {
    font-family: 'Source Sans Pro', sans-serif;
}

.INTRODUCTION {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.ENTETE {
    width: 70%;
    height: 300px;
    display: flex;
    position: absolute;
    margin-top: 50px;
}

#Photo {
    width: 30%;
    clip-path: ellipse(50% 50%);
    position: relative;

}

#PRENOM {
    position: relative;
    display: flex;
    height: 150px;
    width: 100%;
}

#ALTERNANCE {
    position: relative;
    display: flex;
    height: 150px;
    width: 100%;
}

.CONTENU {
    width: 70%;
    margin: 0 auto;
    height: 700px;
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 100px;

}

.INFOS {
    width: 100%;
    position: relative;
    left: 0;
    text-align: center;
}

.EXPERIENCES {
    width: 100%;
    position: relative;
    right: 0;
    text-align: center;
}


#Photo,
#PRENOM,
#ALTERNANCE {}