header {
    margin: 0 auto;
    width: 70%;
    height: 300px;
}

body {
    margin: 0;
    background-color: yellow;
}

h2 {
    position: relative;
    top: 35px;
    left: 35px;
}

h3 {
    position: relative;
    top: 35px;
    left: 60px;

}





.INTRODUCTION {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.ENTETE {
    width: 70%;
    height: 300px;
    display: flex;
    position: absolute;
}

#Photo {
    width: 30%;
    clip-path: ellipse(50% 50%);
    position: relative;

}

#PRENOM {
    position: relative;
    display: flex;
    height: 150px;
    width: 100%;
}

#ALTERNANCE {
    position: relative;
    display: flex;
    height: 150px;
    width: 100%;
}

.CONTENU {
    background-color: rgb(173, 22, 22);
    width: 70%;
    margin: 0 auto;
    height: 700px;
    display: grid;
    grid-template-columns: 40% 60%;

}

.INFOS {
    width: 100%;
    position: relative;
    left: 0;
    text-align: center;
}

.EXPERIENCES {
    background-color: burlywood;
    width: 100%;
    position: relative;
    right: 0;
    text-align: center;
}


#Photo,
#PRENOM,
#ALTERNANCE {}